/*~~ box classes: add these to the element containing the .box-item elements to control their layout ~~*/
	.box { /* default parent class MUST be on the element that will contain all .box-item elements */
		align-content : center ; align-items : center ;
		box-align     : center ; box-pack    : center ;
		display       : box    ; display     : flex ;
		}

	/*~	see:
		http://dev.w3.org/csswg/css3-flexbox/#flex-direction-property
		http://msdn.microsoft.com/en-us/library/windows/apps/hh996820.aspx
	~*/
	.box-h { box-orient : horizontal ; flex-direction : row    ; }
	.box-v { box-orient : vertical   ; flex-direction : column ; }

	/*~	see:
		http://dev.w3.org/csswg/css3-flexbox/#align-items-property
		http://msdn.microsoft.com/en-us/library/windows/apps/hh996822.aspx
	~*/
	.box-align-baseline { box-align : baseline ; align-items : baseline   ; }
	.box-align-end      { box-align : end      ; align-items : flex-end   ; }
	.box-align-start    { box-align : start    ; align-items : flex-start ; }
	.box-align-stretch  { box-align : stretch  ; align-items : stretch    ; }

	/*~	see:
		http://dev.w3.org/csswg/css3-flexbox/#align-content-property
		http://msdn.microsoft.com/en-us/library/windows/apps/hh996819.aspx
	~*/
	.box-content-around  { align-content : space-around  ; }
	.box-content-between { align-content : space-between ; }
	.box-content-center  { align-content : center        ; }
	.box-content-end     { align-content : flex-end      ; }
	.box-content-start   { align-content : flex-start    ; }
	.box-content-stretch { align-content : stretch       ; }

	/*~	see:
		http://dev.w3.org/csswg/css3-flexbox/#justify-content-property
		http://msdn.microsoft.com/en-us/library/windows/apps/hh996825.aspx
	~*/
	.box-pack-around  { box-pack : center ; justify-content : space-around  ; }
	.box-pack-between { box-pack : center ; justify-content : space-between ; }
	.box-pack-center  { box-pack : center ; justify-content : center       ; }
	.box-pack-end     { box-pack : end    ; justify-content : flex-end     ; }
	.box-pack-start   { box-pack : start  ; justify-content : flex-start   ; }
	.box-pack-stretch { box-pack : center ; justify-content : stretch      ; }

/*~~ box item classes: add these to the direct children of the element with the above class(es) to customise their layout ~~*/
	/*~	see:
		http://dev.w3.org/csswg/css3-flexbox/#flex
		http://msdn.microsoft.com/en-us/library/windows/apps/hh996818.aspx
	~*/
	.box-item        { flex : 0 0 auto ; }
	.box-item-flex   { box-flex : 1 ; flex : 1 0 auto ; }
	.box-item-flex-2 { box-flex : 2 ; flex : 2 1 auto ; }
	.box-item-flex-3 { box-flex : 3 ; flex : 3 2 auto ; }
